.outer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #223136;
    height: 100vh;
}


.wrapper {
    width: 400px;
    height: 370px;
    border: 3px solid deepskyblue;
    border-radius: 6px;
}

.displayOuter {
    width: 350px;
    height: 200px;
    border-radius: 10px;
    border: 3px solid deepskyblue;
    /*background-color: deepskyblue;*/
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.displayOuter.num {
    display: flex;
    justify-content: center;
    align-items: center;
}

.num {
    font-weight: bold;
    font-size: 52px;
    color: deepskyblue;
}

.num.error {
    color: red;
}

.buttonsOuter {
    width: 350px;
    height: 100px;
    border: 3px solid deepskyblue;
    border-radius: 6px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    background-color: deepskyblue;
    border: none;
    border-radius: 6px;
    font-size: 32px;
    font-weight: 700;
    padding: 5px 20px;

}

.button:focus {
    outline: none
}

.button:active {
    outline: none;
    background-color: #2a3a4a;

}
.inputWrapper {
    display: flex;
}

.input {
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}
.input:focus {
    border-color: deepskyblue;
}
.inputText {
    margin-left: 10px;
    margin-right: 30px;
    color: deepskyblue;
    font-weight: bold;
    font-size: 24px;
}

.input.error {
    background-color: #ff6161;
    border-color: red;
}



.incValue {
color: red;
font-size: 25px;
}


.enterText {
    font-size: 25px;
}